@import 'materialize-css/dist/css/materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.sign-up-form {
  margin-top: 30px;
}

.course-list {
  list-style: square;
}

.teacher-name a {
  text-decoration: none;
  color: #eee;
}

.teacher-name a:hover {
  color: rgba(204, 204, 204, 0.918);
}

.course-textarea {
  height: 10rem;
}

#grade-form {
  display: inline-block;
}

#grade-form select {
  display: inline-block;
  width: 4rem;
}